.import-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  min-height: 400px;
}

.search-bar {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 10px;
  color: #666;
}

.search-bar input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.image-grid-wrapper {
  position: relative; /* ให้ image-grid-wrapper เป็น relative เพื่อให้ปุ่มจัดตำแหน่งตาม */
  max-height: 430px; /* ความสูงที่คุณต้องการให้แสดงผลใน scroll area */
  overflow-y: auto; /* เพิ่ม scroll bar ในแนวตั้ง */
  overflow-x: hidden; /* ซ่อน scroll bar ในแนวนอน */
  margin-bottom: 50px; /* ให้พื้นที่กับปุ่มด้านล่าง */
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.image-item {
  text-align: center;
}

.image-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.image-item p {
  margin-top: 5px;
  font-size: 14px;
}
.button-div {
  position: relative;
}

.add-file-button {
  position: absolute;
  bottom: -20px; /* ปรับตำแหน่งตามต้องการ */
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 40%;
  color: white;
  background-color: #6771EA;
  border: none;
}

.add-file-button:hover {
  background-color: #0056b3;
}

.add-file-button:focus {
  outline: none;
}


